* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.main-header {
  min-height: 331px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #445162;
}

.main-header__wrapper {
  margin: 0 50px;
}

.main-header__title {
  margin: 50px 0 30px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__list {
  margin-left: 35px;
  list-style: none;
  list-style-image: url('../images/check_icon.png');
}

.main-header__list-item {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header__photo {
  width: 469px;
  height: 214px;
  margin: 50px;
  background-color: #ffffff;
}

.main {
  background-color: #ffffff;
}

.main__title {
  color: #445161;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.product-description {
  min-height: 345px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-description__wrapper {
  max-width: 651px;
  margin: 0 50px;
}

.product-description__title {
  text-align: left;
}

.product-description__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 7px;
}

.product-description__video {
  margin: 50px;
  align-self: center;
}

.product-description__video video { 
  height: 230px;
}

.product-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.product-advantages__title {
  min-width: 100%;
}

.product-advantages__item {
  max-width: 596px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 26px;
}

.product-advantages__text {
  padding-left: 50px;
}

.product-advantages__summary {
  padding-left: 50px;
  background: url(../images/plus_icon.png) no-repeat;
  background-position: 7px 4px;
  cursor: pointer;
  outline: 0;
}

.pluses__details[open] .product-advantages__summary {
  background: url(../images/minus_icon.png) no-repeat;
  background-position: 7px 4px;
}

.product-advantages__summary::-webkit-details-marker {
  display: none;
}

.screenshots {
  min-height: 448px;
  padding-bottom: 23px;
  box-sizing: border-box;
}

.screenshots__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.screenshots__title {
  margin-bottom: 35px;
}

.screenshots__article {
  max-width: 596px;
  display: flex;
  margin-bottom: 27px;
}

.screenshots__figure {
  width: 200px;
  height: 150px;
  margin-right: 17px;
  background-color: #445161;
}

.screenshots__image {
  width: 100%;
  height: 100%;
}

.screenshots__figcaption {
  max-width: 373px;
}

.screenshots__figcaption-title {
  padding-bottom: 8px;
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.screenshots__figcaption-text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.reviews {
  min-height: 424px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 18px 22px 50px; 
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.reviews__title {
  min-width: 100%;
}

.reviews__post {
  max-width: 574px;
  display: flex;
  margin-right: 32px;
  margin-bottom: 28px;
}

.reviews__image {
  min-width: 75px;
  height: 75px;
  margin-right: 29px;
  background-color: #445161;
  border-radius: 50%;
}

.review__description {
  max-width: 480px;
  min-height: 121px;
  padding: 16px 20px 0 12px;
  position: relative;
  background-color: #ebebeb;
  box-sizing: border-box;
  border-radius: 5px;
}

.review__description:after {
  content: ''; 
  position: absolute; 
  top: 27px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #ebebeb;
}

.reviews__text {
  max-width: 459px;
  background-color: #ececec;
  color: #333333;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  text-align: justify;
}

.reviews__text-writer {
  color: #989898;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.buy {
  min-height: 656px;
}

.buy__wrapper {
  min-height: 543px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.buy__package  {
  min-width: 300px;
  margin: 0 21px 50px;
  background-color: #445162;
  border-radius: 5px;
}

.buy__package-title {
  padding: 17px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center; 
}

.buy__package-price {
  height: 67px;
  display: block;
  margin: 0 2px;
  padding: 12px 0;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #445162;
  font-size: 40px;
  text-align: center;
}

.buy__list {
  list-style: inside;
  list-style-type: decimal;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 20px; 
}

.buy__button {
  width: 260px;
  height: 40px;
  margin: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.buy__button:hover {
  opacity: 0.5; 
  cursor: pointer;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  background-color: #445161;
  box-sizing: border-box;
}

.contacts__title {
  min-width: 100%;
  margin-top: 0;
  color: #ffffff;
}

.contacts__feedback-form {
  max-width: 500px;
  margin: 0 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .contacts__feedback-name,
 .contacts__feedback-email,
 .contacts__feedback-message {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  color: #445162;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 21px;
  outline:none;
 }

 .contacts__feedback-name,
 .contacts__feedback-email {
  height: 40px;
}

.contacts__feedback-message {
  height: 170px;
  padding-top: 13px;
 }

 .contacts__feedback-button {
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #445162;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
 }

.contacts__feedback-button:hover {
  opacity: 0.5; 
  cursor: pointer;
}

.contacts__addres {
  width: 243px;
}

.contacts__addres-connect {
  display: inline-block;
  height: 26px;
  margin-bottom: 18px;
  padding-top: 3px;
  padding-left: 34px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  box-sizing: border-box;
}

.contacts__addres-skype {
  background: url('../images/skype_icon.png') no-repeat;
}

.contacts__addres-icq {
  background: url('../images/icq_icon.png') no-repeat;
}

.contacts__addres-email {
  background: url('../images/email_icon.png') no-repeat;
}

.contacts__addres-phone {
  background: url('../images/phone_icon.png') no-repeat;
}

.contacts__addres-social {
  margin: 12px 0 50px 0;
}

.contacts__addres-social-link {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-image: url('../images/social_buttons.png');
  background-repeat: no-repeat;
  border-radius: 50%;
}

.contacts__addres-twitter {
  background-position: 1px 1px;
}

.contacts__addres-fb {
  background-position: -47px 1px;
}

.contacts__addres-in {
  background-position: -97px 1px;
}

.contacts__addres-g {
  background-position: -147px 1px;
}

.contacts__addres-yt {
  background-position: -197px 1px;
}

.contacts__addres-social-link:hover {
  opacity: 0.5; 
  cursor: pointer;
}

.main__footer {
  min-height: 26px;
  padding: 5px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.main-footer__copyright {
  color: #445162;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1265px) {
  .product-description {
    justify-content: center;
  }

  .product-description__title,
  .product-description__text {
    text-align: center;
  }
}

@media screen and (max-width: 1240px) {
  .main-header {
    justify-content: center;
  }

  .main-header__title,
  .main-header__list {
    text-align: center;
  }
}

